*{
  padding:0;
  margin:0;
  font-family: Poppins;
}
body{
  font-size:medium;
  line-height: 1.2;
  background: #2D3945;
  color:white;
}
/* navigation */
.nav-links {
  margin: 0;
  padding:10% 0;
  width: 300px;
  background-color:#FFE4B5;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.nav-links a, .side a {
  display: block;
  color: black;
  padding: 10px ;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.side a{
  color:white;
}
.nav-links img{
  margin: 23px;
  max-width: 10rem;
  max-height: 10rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  border-radius: 100% !important;
}
 
.nav-links  a:focus,a:hover,a:active {
  color: #1E90FF;
}
.home {
  margin-left: 300px;
  padding: 20% 0;
  height: 100%;
  text-align: center;
  border-bottom: 0.02px solid white;
}
.side {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
.side .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  color: white;
  font-size: 50px;
}
.nav {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
 input[type=submit]{
  width: 10%;
  background-color: #1E90FF;
  color:black;
  font-weight: 900;
  margin: 40px 50px;
  padding: 10px 10px;
  border-radius: 10px;
  border:0.02px solid black;
}
.home h1{
  font-size: 50px;
  text-transform: capitalize;
  font-family: Poppins;
  margin-bottom: 20px;
} 
.home p{
  font-size: large;   
  font-weight: 300;
  font-family: Poppins;
} 
@media screen and (max-width: 700px) {
  .sidebar  {
    display:none;
    width:0;
  }
  .home{
    margin-left:0;
    background-color: #2D3945;
    border-bottom: 0.02px solid white;
  }
  .line1,.line2,.line3{
    display:block; 
    background-color:white;
    width:20px;
    height: 3px;
    margin: 5px;
  }
  .lines{
float: right;
cursor: pointer;
  }
  input[type=submit]{
     width:25%;  
  }
  .home h1{
  font-size:25px;
  }
  .home p{
    font-size:10px; 
  }
  .nav img{
    margin: 2px;
    max-width: 5rem;
    max-height: 5rem;
    border: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-radius: 100% !important;
  }
  .nav {
    position: relative;
    top: 10%;
  }
  .nav  a:focus,a:hover,a:active {
    color: #1E90FF;
  }
}
/* about */ 
.about{
  height:100%;
  margin-left:300px;
  border-bottom: 0.02px solid white;
  padding:4% 0;
}
#about,#education{
  padding:7%;
}

#about h1,#education h1{
  padding-bottom: 3%;
} 
#auca h4{
  margin-bottom:5%;
} 
#about,#education{
  text-align: center;
  color:white;
  font-size: larger;

}
#about h5,#education h5{
  color:#1E90FF; 
}
@media screen and (max-width: 700px) {
  .about{
  margin-left: 0;
  }
  .about h1{
    font-size:25px;
    }
    .about p{
      font-size:15px;
    }
}
@media screen and (max-width: 1300px){
  input[type=submit]{
    width:25%;  
 }
 .about h1{
  font-size:25px;
  }
}
@media screen and (max-width: 290px){
  input[type=submit]{
    width:30%;  
 }
}
/************skills***************/
 .skills{ 
  margin-left:300px;
  text-align: center;
}
.row{
  display: flex;
  flex-direction: row;
  padding:5%;
  justify-content: space-between;
  border-bottom: 0.02px solid white;
}
.border{
  display: flex;
  border-radius: 3%;
  text-align: center;
  padding-bottom: 60%;
  width: 100%;
  padding: 50px 70px;
  margin-bottom: 34px;
}
.border .img{
  flex: 1;
  padding-bottom: 60%;
  background-size: cover;
  background-position: center ;
}

.skills h1{
  margin-top: 5%;
  text-transform: uppercase;
}
.article img{
  width:200px;
  height:200px;
  margin-bottom: 30px;
}
.border h3{
  font-size: 14px;
  font-weight: bold;
  color: #1E90FF;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 2em 0 0 0;
}
.border p{
  font-size: larger;
}
@media screen and (max-width: 700px) {
  .skills{
  margin-left: 0;
  }
  .row{
    padding:0;
    flex-direction: column;
  }
  .border{
    padding:0;
  }
  .border h3{
    font-size: 12px;
  }
  .border p{
    font-size:15px;
    padding:0px 20px;
  }
  .skills h1{
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 900px) {
    .row{
      flex-direction: column;
    }
    .border p{
      font-size:medium;
      padding:0px 5px;
    } 
    .border{
      padding:0;
    }
}