body{
    font-family: 'Roboto Condensed',sans-serif;
    padding: 0;
    margin: 0;
}
.admin-content .page-title{
    text-align: center;
    margin-bottom: 2rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
}
th,td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}
#edit:hover,#delete:hover{
    color: brown;
}
.content{
text-align: center;
margin-left: 300px;
padding: 5% 0;
height: 100%;
}
.nav-links {
margin: 0;
padding:10% 0;
width: 300px;
background-color:#FFE4B5;
position: fixed;
height: 100%;
overflow: auto;
}
.nav-links a,.side a{
display: block;
color: black;
padding: 10px ;
text-align: center;
justify-content: center;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
}
.nav-links img{
margin: 23px;
max-width: 10rem;
max-height: 10rem;
border: 0.2rem solid rgba(255, 255, 255, 0.2);
border-radius: 100% !important;
}

.nav-links  a:focus,a:hover,a:active {
color: #1E90FF;
}

@media screen and (max-width: 700px) {
.sidebar  {
display:none;
width:0;
}
.content{
margin-left: 0;
padding: 0 ;
}
th,td{
    padding: 0;
}
.lines{
float: right;
cursor: pointer;
}
.nav  a:focus,a:hover,a:active {
color: #1E90FF;
}
}

#articleTitles{
    list-style-type: none;
    padding: 0;
    
}

#articleTitles li{
    padding: 10px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
   
}



#articleTitles li div{
    position: absolute;
    top: 0;
    /* right: 90px; */
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: left;
    padding: 10px 10px;
    font-weight:  bold;
    cursor:  pointer;
    /* margin-right: 10px; */
}

#articleTitles li button{
  padding:7px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: cornflowerblue;
  text-emphasis: bold;
  float: right;}